body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.polaroid {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.polaroid iframe {
    border-radius: 10px 10px 0 0;
}

.polaroid p {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}